<launch>
    <!-- level 1: Control state_command -->
    <!-- level 2: Control reference_command -->
    <!-- level 3: Fully autonomous -->
    <arg name="level" default="1"/>
    <arg name="sim" default="true"/>
    <arg name="omniscient" default="true"/>
    <arg name="paused" default="true"/>

    <include file="$(find bmb_description)/launch/spawn_aris.launch" if="$(arg sim)"/>
    <include file="$(find bmb_gazebo)/launch/aris_world.launch" if="$(arg sim)">
        <arg name="paused" value="$(arg paused)"/>
    </include>
    <include file="$(find bmb_controllers)/launch/controllers.launch">
        <arg name="level" value="$(arg level)"/>
    </include>
    <include file="$(find bmb_control)/launch/keyboard_control.launch">
        <arg name="level" value="$(arg level)"/>
    </include>
</launch>
